<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.bent.sports">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/lo_go"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="cb572134e6d1d4d7fb9ffa7346dc8ccb" />

        <activity android:name=".view.activity.GuideActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ibeacon.ScanActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.minew.beacon.ScanService" />
        <service android:name="com.amap.api.location.APSService"></service>

        <receiver android:name="com.minew.beacon.BluetoothChangedReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ChangeNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.PlayWebViewActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ContinueActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.RuleActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.ZoomActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.AllFinishActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.ImgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scan.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.GetLocationActivity"></activity>
        <activity android:name=".view.activity.ChooseLuxianActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.ArActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.OfflineActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.LastActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>