<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cn.bent.sports">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-sdk tools:overrideLibrary="tv.danmaku.ijk.media.player_arm64,tv.danmaku.ijk.media.player_x86_64" />
    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/lo_go"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">

        <activity android:name=".view.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="cb572134e6d1d4d7fb9ffa7346dc8ccb" />

        <activity
            android:name=".view.activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ibeacon.ScanActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.minew.beacon.ScanService" />
        <service android:name="com.amap.api.location.APSService" />

        <receiver android:name="com.minew.beacon.BluetoothChangedReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.youle.play.GameWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ChangeNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PlayWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".view.activity.ContinueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ZoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AllFinishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ImgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.GetLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ChooseLuxianActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ArActivity"
            android:screenOrientation="portrait" />

        <service android:name=".view.service.MusicService" />

        <activity
            android:name=".view.activity.WalkNaviActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.OfflineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LastActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MapActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".view.service.StepService"
            android:priority="1000">
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>
        <service
            android:name=".view.service.StepsDetectService"
            android:priority="1000"
            android:process="com.cn.bent.sports..pedometer.StepsDetectService">
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.activity.DetailDotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.BottomPlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".view.activity.PlayFunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.youle.PlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.youle.PlayMultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.youle.play.MemberEditActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.youle.play.OrganizeActivity" />
        <activity android:name=".view.activity.youle.play.PrepareActivity" />
        <activity android:name=".view.activity.youle.play.OrderDetailActivity" />
        <activity android:name=".view.activity.person.PointsRecordActivity" />
        <activity android:name=".view.activity.youle.RankingListActivity" />
        <activity android:name=".view.activity.youle.play.CompleteInfoActivity" />
        <activity android:name=".view.activity.WalkRankListActivity" />
        <activity android:name=".view.activity.youle.MyRouteListActivity" />
        <activity android:name=".view.activity.youle.play.TeamMemberActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>